.board {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	font-family: Arial;
}

.game-title {
	color: white;
	font-size: 30px;
}

.hide {
	opacity: 0;
	height: 0px;
}

.game {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.author {
	color: white;
}

.game-over-text {
	margin-right: 10px;
	font-size: 25px;
	color: white;
}

.time {
	margin-right: 20px;
}
.clock-image {
	margin-left: 20px;
	width: 50px;
	height: 50px;
}

.menu-button {
	margin: 2px;
	border: 1px solid black;
	border-radius: 0px;
	padding: 2px;
}
.menu-button:hover {
	cursor: pointer;
	background-color: rgb(205, 205, 205);
}

.top-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.flag-logo {
	height: 50px;
	width: 50px;
}

.flag-count {
	font-size: 25px;
	color: white;
}

.game {
	padding: 10px;
	background-color: rgba(74, 117, 44, 255);
}
