.square-hide-checker-light {
	background-color: rgba(170, 215, 81, 255);
}

.square-hide-checker-dark {
	background-color: rgba(162, 209, 73, 255);
}

.square-show-checker-dark {
	background-color: rgba(215, 184, 153, 255);
}

.square-show-checker-light {
	background-color: rgba(229, 194, 159, 255);
}

.square-hide,
.square-show {
	font-size: 28px;
	font-weight: bold;
	display: inline;
	height: 35px;
	width: 35px;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	user-select: none;
	box-shadow: 0px;
	border-width: 0px;
}

.square-flag {
	height: 35px;
	width: 35px;
}

.mine {
	background-color: red;
	border-width: 0px;
}

.\31 {
	color: rgba(45, 82, 209, 255);
}

.\32 {
	color: rgba(0, 161, 65, 255);
}

.\33 {
	color: rgba(229, 0, 39, 255);
}

.square-show:hover,
.square-hide:hover {
	background-color: lightgray;
	transition: 0.05s;
	cursor: pointer;
}
