.square-hide-checker-light {
	background-color: rgba(170, 215, 81, 255);
}

.square-hide-checker-dark {
	background-color: rgba(162, 209, 73, 255);
}

.square-show-checker-dark {
	background-color: rgba(215, 184, 153, 255);
}

.square-show-checker-light {
	background-color: rgba(229, 194, 159, 255);
}

.square-hide-checker-light-neg {
	background-color: rgba(125, 80, 215, 255);
}

.square-hide-checker-dark-neg {
	background-color: rgba(112, 56, 202, 255);
}

.square-show-checker-dark-neg {
	background-color: rgba(15, 71, 102, 255);
}

.square-show-checker-light-neg {
	background-color: rgba(26, 61, 96, 255);
}

.hide {
	opacity: 0;
	height: 0;
}

.show {
	opacity: 1;
	height: 35px;
	width: 35px;
}

.square-hide,
.square-show {
	font-size: 10px;
	font-weight: bold;
	display: inline;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	user-select: none;
	box-shadow: 0px;
	border-width: 0px;
}

.square-flag {
	height: 35px;
	width: 35px;
}

.mine {
	background-color: red;
	border-width: 0px;
}

.\31 {
	color: rgba(45, 82, 209, 255);
}

.\32 {
	color: rgba(0, 161, 65, 255);
}

.\33 {
	color: rgba(229, 0, 39, 255);
}

.\34 {
	color: rgba(134, 18, 168, 255);
}

.\35 {
	color: rgba(255, 135, 0, 255);
}

.\36 {
	color: rgba(0, 154, 170, 255);
}

.\37 {
	color: rgba(66, 66, 66, 255);
}

.\38 {
	color: rgba(177, 167, 148, 255);
}

.square-show:hover,
.square-hide:hover {
	background-color: lightgray;
	transition: 0.05s;
	cursor: pointer;
}
